* {
    box-sizing: border-box;
    }
    
    *:focus {
    outline: none;
    }
    body {
    font-family: Arial;
    background-color: #3498DB;
    padding: 50px;
    }
    form .container {
    display: flex;
    justify-content: center;
    }
    .banner {
    background-color: #FFF;
    padding: 20px;
    border-radius: 5px
    }

    .app-title {
    text-align: center;
    color: #777;
    }
    
    .text-form {
    text-align: center;
    }
    .control-group {
    margin-bottom: 10px;
    }
    
    textarea{
    background-color: #ECF0F1;
    border: 7px solid transparent;
    border-radius: 14px;
    font-size: 15px;
    font-weight: 200;
    padding: 15px 0;
    width: 180px;
    transition: border .5s;
    resize: none;
    }
    
    textarea:focus {
    border: 2px solid #3498DB;
    box-shadow: none;
    }
    
    .btn {
    border: 2px solid transparent;
    background: #3498DB;
    color: #ffffff;
    font-size: 16px;
    line-height: 25px;
    padding: 10px 0;
    text-decoration: none;
    text-shadow: none;
    border-radius: 3px;
    box-shadow: none;
    transition: 0.25s;
    display: block;
    width: 180px;
    margin: 0 auto;
    }
    
    .btn:hover {
    background-color: #2980B9;
    }
    